#display_container {
    display: inline-flex;
}

#binary_timer, #binary_timer_opacity {
    width: 560px;
    height: 60px;
    padding: 2px;

    background-color: black;
}

#binary_timer_opacity {
    position: absolute;
    opacity: 0;
}

#binary_timer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#binary_timer > div {
    margin: 2px;
    padding: 2px;

    background-color: grey;
    transition: background-color 300ms ease;
}

#binary_timer > div.cell_on {
    background-color: white;
    transition: background-color 300ms ease;
}

#binary_timer.standby_blink > div {
    animation: standby_blink 5s infinite;
}

@keyframes standby_blink {
    0% {
        background-color: grey;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: grey;
    }
}

div.timer_detail, div.start_timer_from {
    display: grid;
    grid-template-columns: repeat(2, 150px);
}